In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (0.21.2)
Requirement already satisfied: numpy>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.16.4)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied: scipy>=0.17.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas

In [4]:
import sklearn

In [5]:
import pandas as pd

In [6]:
data = [{'name':"vikash",'age':27},{'name':"Satyam",'age':41}]

In [7]:
df=pd.DataFrame.from_dict(data,orient='columns')
df

   age    name
0   27  vikash
1   41  Satyam

### in pandas the data will be filled along the column wise

In [8]:
df1=pd.DataFrame([['AA',1,'a'],['BB',2,'aa'],['CC',3,'a']],columns=['name','value','salue'])
df1

  name  value salue
0   AA      1     a
1   BB      2    aa
2   CC      3     a

In [9]:
for i,row in df1.iterrows():
    print(row['name'],row['value'])

AA 1
BB 2
CC 3