In [49]:
import pandas as pd

In [50]:
data=pd.read_csv('breast-cancer.data')
#data.drop(["class"],inplace=True)
data.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [68]:
le=LabelEncoder()
data["age"]=le.fit_transform(data["age"])
data["tumor-size"]=le.fit_transform(data["tumor-size"])
data["tumor-size"]=le.fit_transform(data["tumor-size"])
data["Class"]=le.fit_transform(data["Class"])
data["menopause"]=le.fit_transform(data["menopause"])
data["node-caps"]=le.fit_transform(data["node-caps"])
data["breast"]=le.fit_transform(data["breast"])
data["breast-quad"]=le.fit_transform(data["breast-quad"])
data["inv-nodes"]=le.fit_transform(data["inv-nodes"])
data["irradiat"]=le.fit_transform(data["irradiat"])
data.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,1,2,5,0,1,3,0,2,0
1,0,2,2,3,0,1,2,1,5,0
2,0,2,2,3,0,1,2,0,2,0
3,0,4,0,2,0,1,2,1,3,0
4,0,2,2,0,0,1,2,1,4,0

In [69]:
data["Class"].astype("float")
data["menopause"].astype("float")
data["node-caps"].astype("float")
data["breast"].astype("float")
data["breast-quad"].astype("float")
data["irradiat"].astype("float")

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
281    0.0
282    1.0
283    0.0
284    0.0
285    0.0
Name: irradiat, Length: 286, dtype: float64

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [70]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [71]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.33, random_state=1)

In [72]:
X_test.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad
70,0,4,0,1,0,1,1,0,2
278,1,3,2,6,2,2,3,1,5
18,0,4,0,5,0,1,3,0,2
263,1,3,1,3,0,0,1,0,3
59,0,4,0,2,0,1,1,1,3

In [89]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [74]:
fs = SelectKBest(score_func=chi2, k='all')
fs.fit(X_train, y_train)

SelectKBest(k='all', score_func=<function chi2 at 0x000001A46F734288>)

In [87]:

for i in range(len(fs.scores_)):
	print('Feature %d: %f' % (i, fs.scores_[i]))

Feature 0: 5.700706
Feature 1: 0.181693
Feature 2: 0.273690
Feature 3: 4.930237
Feature 4: 95.133909
Feature 5: 1.560460
Feature 6: 3.620153
Feature 7: 0.015409
Feature 8: 0.672490

In [88]:
from matplotlib import pyplot 
from sklearn.feature_selection import mutual_info_classif
fs1 = SelectKBest(score_func=mutual_info_classif, k='all')

In [80]:
fs1.fit(X_train, y_train)

SelectKBest(k='all',
            score_func=<function mutual_info_classif at 0x000001A46F9A3048>)

In [82]:
for i in range(len(fs.scores_)):
	print('Feature %d: %f' % (i, fs.scores_[i]))

Feature 0: 5.700706
Feature 1: 0.181693
Feature 2: 0.273690
Feature 3: 4.930237
Feature 4: 95.133909
Feature 5: 1.560460
Feature 6: 3.620153
Feature 7: 0.015409
Feature 8: 0.672490

In [95]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression(solver='lbfgs')
model.fit(X_train, y_train)
# evaluate the model
yhat = model.predict(X_test)
# evaluate predictions
accuracy = accuracy_score(y_test, yhat)
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 71.58

In [100]:
from sklearn.linear_model import LinearRegression
rfr= LinearRegression()
rfr.fit(X_train, y_train)
# evaluate the model
pred = model.predict(X_test)
# evaluate predictions
accuracy1 = accuracy_score(y_test, pred)
print('Accuracy: %.2f' % (accuracy1*100))

Accuracy: 71.58